{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'login')}">
<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>Bear Link</h1>
      <p>CREATE</p>
      <form class="createaccount" method="post" action="createAccount.php">

        <!-- Function makes it so only letters are able to be entered.
        -->
        <script>
        function lettersOnly(input){
          var regex = /[^a-z]/gi;
          input.value = input.value.replace(regex, "");
        }
        </script>

          <br><label>First Name</label><br>
          <input type="text" name="createfn" placeholder="First Name" onkeyup="lettersOnly(this)"><br>
          <br><label>Last Name</label><br>
          <input type="text" name="createln" placeholder="Last Name" onkeyup="lettersOnly(this)"><br>
          <!--
                           This function makes it so only numbers are able to be entered
                         -->
                           <script>
                           function numbersOnly(input){
                             var regex = /[^0-9,-]/g;
                             input.value = input.value.replace(regex, "");
                           }
                           </script>


          <br><label>Phone Number</label><br>
          <input type="tel" name="createpn" placeholder="###-###-####" onkeyup="numbersOnly(this)"><br>
          <br><label>Email Address</label><br>
          <input type="email" name="createemail" placeholder="someone@somewhere.com"><br>
          <br><label>Password</label><br>
          <input type="password" name="createpassword" placeholder="********"><br>
          <br><button>Create New Account</button><br>
      </form>

    </div>
    <div class="jumbotron text-center" th:fragment="footer">
      <a type="button" class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-home"></span> HOME</a>
      <a type="button" class="btn btn-lg btn-primary" href="/profile.php"><span class="glyphicon glyphicon-user"></span> PROFILE</a>
      <a type="button" class="btn btn-lg btn-primary" href="/matches"><span class="glyphicon glyphicon-heart"></span> MATCHES</a>
      <a type="button" class="btn btn-lg btn-primary" href="/search"><span class="glyphicon glyphicon-search"></span> SEARCH</a>
      <a type="button" class="btn btn-lg btn-primary" href="/faq"><span class="glyphicon glyphicon-list"></span> FAQ</a>

      <p>&copy; 2020 Bear Link</p>
    </div>



</body>
</html>


{% endblock %}
