{% extends "layout.html" %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">

<!--
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
-->
  <h1>Bear Link</h1>
  <p>DASHBOARD</p>



  </div>
</div>


  <h2>Welcome to Bear Link</h2>


<div class="jumbotron text-center" th:fragment="footer">
  <a type="button" class="btn btn-lg btn-primary" href="/"><span class="glyphicon glyphicon-home"></span> HOME</a>
  <a type="button" class="btn btn-lg btn-primary" href="/profile.php"><span class="glyphicon glyphicon-user"></span> PROFILE</a>
  <a type="button" class="btn btn-lg btn-primary" href="/matches"><span class="glyphicon glyphicon-heart"></span> MATCHES</a>
  <a type="button" class="btn btn-lg btn-primary" href="/search"><span class="glyphicon glyphicon-search"></span> SEARCH</a>
  <a type="button" class="btn btn-lg btn-primary" href="/faq"><span class="glyphicon glyphicon-list"></span> FAQ</a>

  <p>&copy; 2020 Bear Link</p>
</div>

{% endblock %}
